body {
    font-family: Tahoma;
    overflow-x: hidden;
}

main {
    margin: auto;
}

/*標題*/
.title {
    /*  格式 */
    background: #fdfdfd;
    color: #3b3b3b;
    /*  位置  */
    width: 100vw;
    padding: 2rem;
    text-align: center;
    margin: auto;
    margin-bottom: -2rem;
    /*  內文換行設定  */
    white-space: nowrap;
}

/*小插畫*/
.plate {
    /* 用block高度調整插畫位置   */
    height: 3.4rem;
    background: #fdfdfd;
    border-bottom: 4.2px solid rgba(0, 0, 0, 0.5);
}

/*小插畫大小與位置*/
.plate img {
    margin-left: 20%;
    height: 5rem;
    width: 10rem;
}

/*左側主欄位*/
.leftcolumn {
    float: left;
    width: 70%;
}

/*右側副欄位*/
.rightcolumn {
    float: left;
    width: 25%;
}

.row {
    margin-left: 3rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
    }
}

/*內文格式*/
.card {
    /*  格式  */
    background: oldlace;
    border: 4.2px solid rgba(0, 0, 0, 0.5);
    color: #3b3b3b;

    /*  位置  */
    margin-block: 2rem;
    margin-left: 2rem;
}

.card h1,
.card h3 {
    padding-left: 2rem;
}

.card table {
    width: 100%;
    /*  位置  */
    padding-block: 2rem;
    padding-inline: 2rem;
}

.card table .c1 {
    /*  格式  */
    border: 2px solid #000;

    /*  位置  */
    width: 35%;
    text-align: center;
    padding-inline: 1rem;
}

.card table .c2 {
    /*  格式  */
    border: 2px solid #000;

    /*  位置  */
    width: 65%;
    text-align: center;
    padding-inline: 1rem;
}

.card table .c3 {
    /*  格式  */
    border: 2px solid #000;

    /*  位置  */
    width: 90%;
    text-align: center;
    padding-inline: 1rem;
}

.card table td video {
    width: 65%;
    padding-block: 2%;
}

@media screen and (max-width: 1000px) {

    .card table .c1,
    .card table .c2 {
        display: inline-block;
        width: 100%;
    }
}