main {
    margin: auto;
}

.title {
    background: #fff;
    width: 100vw;
    padding: 2rem;
    text-align: center;
    margin: auto;
    transition: margin-left 0.3s ease-in-out;
    white-space: nowrap;
}

.plate {
    height: 3.4rem;
    background: #fff;
    border-bottom: 4.2px solid #000;

}

.plate img {
    margin-left: 20%;
    height: 5rem;
    width: 15rem;
}

.about {
    background: #3b3b3b;
}