main {
    margin: auto;
}

/*標題*/
.title {
    /*	格式 */
    background: #fdfdfd;
    /*  位置  */
    width: 100vw;
    padding: 2rem;
    text-align: center;
    margin: auto;
    margin-bottom: -2rem;
    transition: margin-left 0.3s ease-in-out;
    /*  內文換行設定  */
    white-space: nowrap;
}

/*小插畫*/
.plate {
    /* 用block高度調整插畫位置	*/
    height: 3.4rem;
    background: #fdfdfd;
    border-bottom: 4.2px solid rgba(0, 0, 0, 0.5);
}

/*小插畫大小與位置*/
.plate img {
    margin-left: 20%;
    height: 5rem;
    width: 10rem;
}

/*左側主欄位*/
.leftcolumn {
    float: left;
    width: 75%;
}

/*右側副欄位*/
.rightcolumn {}

/*內文格式*/
.card {
    /*  格式  */
    background: oldlace;
    border: 4.2px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;

    /*  位置  */
    margin-block: 2rem;
    margin-inline: 2rem;
    padding-left: 1rem;
}