/*首頁不要滑動*/
body {
    font-family: Tahoma;
    overflow: hidden;
    background: #3b3b3b;
    margin: 0;
}

/*封面背景*/
.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/zutomayo.png");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    /* 滾動時，頁面貼齊視口 */
    scroll-snap-align: start;
}

/*typed1 = TitlePlace*/
#typed1 {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateX(0%);
}

/*封面文字格式*/
.Title {
    font-size: clamp(1rem, 10vh, 6.5rem);
    color: #fff;
    /*  文字區塊大小  */
    height: 75%;
}


/*封面向下鍵的位置*/
.Arrow1Place {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}