* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
}

/*去除掉超連結的格式*/
a {
    text-decoration: none;
}


/*側欄顯示與消失*/
/*側欄整體*/
.navi {
    /*  側欄位置  */
    position: absolute;
    left: 0;
    z-index: 3;
    /*側欄大小*/
    height: 100vh;
    width: clamp(8rem, 15vw, 15rem);
    transition: width 0.3s ease-in-out;
    /*側欄造型*/
    background: #fdfdfd;
}

#hidden:checked~.navi {
    width: 0px;
}

/*側欄按鈕*/
#hidden {
    /*隱藏系統自設按鈕*/
    display: none;
}

.img4 {
    width: 7vh;
    height: 8vh;
}


/*側欄按鈕*/
.hiddenButton {
    /*  位置  */
    position: absolute;
    top: 45vh;
    left: calc(clamp(8rem, 15vw, 15rem) + 2vw);
    z-index: 3;
    /*  動畫效果  */
    transition: left 0.3s ease-in-out;

}

#hidden:checked~.navi .hiddenButton {
    left: 2vw;
}

/*側欄內部*/
/*消滅系統原設定的marker*/
.navi ul {
    list-style-type: none;
    margin-block: 50%;
    margin-right: 20%;
    text-align: center;
}

#hidden:checked~.navi ul {
    display: none;
}


/*選取前*/
.navi ul li a {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    line-height: 200%;
    color: #abb7bc;
    text-decoration-color: rgba(106, 108, 161, 0);
    text-underline-offset: 0vh;
    transition:
        text-decoration-color 0.3s ease-in-out,
        text-underline-offset 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        line-height 0.3s ease-in-out;
}

/*選取後*/
.navi ul li a:hover {
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 210%;
    color: #5ea0bd;
    text-decoration: underline;
    text-underline-offset: 2vh;
    text-decoration-color: rgba(106, 108, 161, 1.0);
    text-decoration-style: solid;
}



/*遮罩*/
.curtain {
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: background 0.3s ease-in-out;
}

#hidden:checked~.curtain {
    background: rgba(0, 0, 0, 0);
}